<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Artboard 11_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 13_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 16_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 18_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 1_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 21_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 23_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,800},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 25_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,1200},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 27_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,1600},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 29_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 31_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 33_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 35_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,800},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 37_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,1200},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 39_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,1600},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 3_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 43_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,800},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 45_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,800},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 47_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,1200},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 49_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,1600},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 51_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,1200},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 53_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,1600},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 5_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,800},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 7_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,1200},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 9_400x400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,1600},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog04.png</string>
            <key>size</key>
            <string>{2000,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0588ab63fce090b5fed1d0a9369d2454:b9a8868cb491238ba3e58ae411ad8119:d3bfa3aaed837a5045045d7c13d159c1$</string>
            <key>textureFileName</key>
            <string>dog04.png</string>
        </dict>
    </dict>
</plist>
