<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Artboard 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1200,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1600,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2000,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2000,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2400,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2400,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2800,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2800,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{3200,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{400,400},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Artboard 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog14.png</string>
            <key>size</key>
            <string>{3600,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3570630b0f1e15a4cd568e3648a9a3:18d0e5442fa17e588d5d1b430a2669e4:30a3369904101f1f5070b4bd173ce22c$</string>
            <key>textureFileName</key>
            <string>dog14.png</string>
        </dict>
    </dict>
</plist>
