<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{719,765},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{718,1211},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{854,1385},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{397,1446},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{131,1155},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{633,827},{190,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{793,767},{190,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_2_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{793,959},{190,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{633,1019},{190,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_c_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{805,465},{300,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_micro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{789,1},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{616,1211},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_widget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{201,222}</string>
                <key>textureRect</key>
                <string>{{397,1258},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-check-in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,148}</string>
                <key>textureRect</key>
                <string>{{793,1151},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{682,1387},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{766,1301},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{588,1389},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{680,1297},{88,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{852,1301},{82,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_micro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{60,75}</string>
                <key>textureRect</key>
                <string>{{805,403},{60,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,128}</string>
                <key>spriteSourceSize</key>
                <string>{670,128}</string>
                <key>textureRect</key>
                <string>{{1,835},{670,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1,425},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,267}</string>
                <key>spriteSourceSize</key>
                <string>{318,267}</string>
                <key>textureRect</key>
                <string>{{131,835},{318,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{397,1155},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{411,820},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{718,1285},{10,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mypet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{768,1387},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,84}</string>
                <key>spriteSourceSize</key>
                <string>{400,84}</string>
                <key>textureRect</key>
                <string>{{633,425},{400,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{347,1421},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_firendship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{471,1446},{78,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{854,1459},{58,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pet_value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,42}</string>
                <key>spriteSourceSize</key>
                <string>{214,42}</string>
                <key>textureRect</key>
                <string>{{131,1421},{214,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_value_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{96,40}</string>
                <key>textureRect</key>
                <string>{{131,1465},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pet_value_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,48}</string>
                <key>spriteSourceSize</key>
                <string>{3,48}</string>
                <key>textureRect</key>
                <string>{{957,465},{3,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petchat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,84}</string>
                <key>spriteSourceSize</key>
                <string>{338,84}</string>
                <key>textureRect</key>
                <string>{{719,425},{338,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,78}</string>
                <key>spriteSourceSize</key>
                <string>{462,78}</string>
                <key>textureRect</key>
                <string>{{891,1},{462,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,220}</string>
                <key>spriteSourceSize</key>
                <string>{393,220}</string>
                <key>textureRect</key>
                <string>{{411,425},{393,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rewardbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,422}</string>
                <key>spriteSourceSize</key>
                <string>{786,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{786,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{588,1297},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>widget_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{400,1042},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{970,1519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba2a608fd147b0699d8546661ce691d:bb072317fe463f0801a267f275f85ad6:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
